.farm-1 {
    color: #4d4d4d;
    display: inline;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.farm-2 {
    color: #67ab9f;
    display: inline;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.form-credenciales input:not(input[type="submit"]) {
    background-color: #ffffff;
    border-color: #ced4da;
    border-radius: 0px 6px 6px 0px;
    border-style: solid;
    border-width: 1px;
    color: #1d2129;
    display: inline-block;
    font-family: Helvetica;
    font-size: 17px;
    line-height: 16px;
    padding: 2px 16px;
    width: auto;

}

.a-container {
    align-items: center;
    background-color: #67ab9f;
    border-color: #ced4da;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 12px;
    height: 50px;
    margin-left: 10px;
    width: 90px;
    font-size: 16px;
}

* {
    font-family: Helvetica, Arial, sans-serif;

}

.input-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.input-group input[type="text"] {
    width: 390px;
}

.input-numero {
    width: 300px;
    height: 50px;
    border : 1px solid var(--primary);
    padding-left: 10px;
    border-radius: 25px;
    font-size: 16px;
}

.cont-second {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cont-datos-proveedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 40px 10px 20px 10px;
}

.cont-datos-proveedor input {
    height: 40px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    width: 350px;
    margin-left: 20px;
}

.cont-datos-guia * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    padding: 2px;
}

.cont-datos-guia{
    width: 55%;
    padding: 20px 50px;
}
.cont-inputs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}

.input-num,
.txt-motivo{
    width: 100%;
    border: 1px solid #a5a5a5;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 14px;
}

.txt-motivo{
    resize: none;
    height: 100px;
    padding: 10px;

}
.cont-adjunto{
    width: 45%;
    padding: 50px 30px 20px 30px;
}
.img_guia{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 250px;
    background-color: #d8d8d8;
    border: 1px solid var(--gris);
    margin-bottom: 50px;
}

.cont-datos-guia label{
    color: var(--primary);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}