.btn-buscar {
    align-items: center;
    background-color: #67ab9f;
    border-color: black;
    border-radius: 0px 6px 6px 0px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    display: flex;
    line-height: 24px;
    padding: 2px 12px;
    text-align: center;
    cursor: pointer;
    border-left: none;
}




* {
    font-family: Helvetica, Arial, sans-serif;

}

.input-group {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    margin-top: 30px;
}

.input-group input[type="text"] {
    width: 390px;
    border-radius: 5px 0 0 5px;
    border-right: none;
    border: solid 1px black
}

.input-numero {
    width: 35 0px;
}

.cont-second {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cont-datos-proveedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 11px;

}

.cont-datos-proveedor span[class="campo"] {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.cont-datos-proveedor input {
    min-width: 280px;
}

.cont-datos-guia * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    padding: 2px;
}

.cont-inputs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.cont-adjunto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;
}

.cont-adjunto * {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 20px;
    padding: 5px;



}

.cont-adjunto button {
    border-radius: 15px;
    background-color: #67ab9f;
    border: solid 2px #fdfdfd;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    color: #fdfdfd;
    cursor: pointer;
}

.btn-buscar:hover {
    background-color: #6ee7d1;
}

.cont-adjunto button:hover {
    background-color: #6ee7d1;
}

.cont-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cont-btn buttom {
    background-color: #ea6b66;
    border: solid 1px black;
    border-radius: 8px;
    padding: 10px 30px 10px 30px;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.textarea {
    width: 500px;
    height: 200px;
}

.input {
    border-radius: 10px;
    height: 35px;
    width: 400px;
    border: solid 1px black;
    padding-left: 15px;
}

.filechooser {
    border: solid 1px black;
    border-radius: 6px;
}

.imagen {
    border: solid 1px black;
    height: 250px;
    width: 200px;
    margin-left: 60px;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}

.cont-btn buttom:hover {
    background-color: #eb4c46;
}