:root{
    /* colores */
    --primary : #67AB9F;
    --primary-dark :#48746c;
    --secondary : #000;
    --dark :  #1b1f1e;
    --light : #f3f3f3;
    --gris: #d7d7d8;
    --gris-ligth: #ebebeb;
    --warning: #EA6B66;
  
    /* estructurales */
    --length-nav: 300px;
}




*{
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  border: none;
}

dialog::backdrop{
  background-color: #000a;
}